{% extends ':Frontend:base.html.twig' %}

{% block body %}
    <div class="wrap wrap-default-color first-block">
        {% for category in categories %}
            <div class="category-thumb">
                {% if category.gallery %}
                    {% thumbnail category.firstMedia, 'small' with {'class': 'myclass'} %}
                {% endif %}
                <div class="item-description">
                    <h2>{{ category.title }}</h2>
                    {{ category.shortDescription }}
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock body %}