{% extends ':Frontend:base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('css/contactUs.css') }}" type="text/css" media="all">
 {% endblock %}
{% block body %}
    <div style="text-align: left;" class="wrap wrap-content wrap-default-color  first-block">
        <h1>КОНТАКТЫ</h1>

        <ul class="contact-list">
            <li>tel: (095) 474-17-74</li>
            <li>e-mail: info@leafland.com.ua</li>
            <li>Адрес: Украина, г. Харьков, 61054, Офисно-складской комплекс по ул. Якутская, 58.</li>
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2611.915406320087!2d33.4308193!3d49.1072475!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d75245e80bb5b5%3A0x4341fc4ed982c3da!2z0LLRg9C7LiDQptGW0L7Qu9C60L7QstGB0YzQutC-0LPQviwgMjIsINCa0YDQtdC80LXQvdGH0YPQuiwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1suk!2sua!4v1447092677376"  height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
    </div>

{% endblock %}