.product_item_wrap{
    text-align: center;
}

.product_item_wrap div{
    display: inline-block;
    min-width: 300px;
    max-width: 500px;
}
div.product-thumb a {
    text-decoration: none;
    color: #44585d;
}
div.product-thumb h3{
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

div.product-thumb div.price {
    text-align: right;
    font-size: 22px;
    margin-top:20px;
    color: #950000;
}
div.product-thumb {
    width: 310px;
    padding: 20px;
    margin: 10px 10px;
    border: 1px solid;
    border-color: #dddddd;
}
div.product-thumb img{
    width: 310px;
    height: 180px;
    padding: 0px;
    border-radius: 4px;
}
.product_item_wrap .item-description{
    height: 139px;
    margin: 10px;
    width: 49%;
    border-top: 1px solid #7a756f;
    border-right: 1px solid #7a756f;
    border-bottom: 1px solid #7a756f;
    border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-radius: 0px 10px 10px 0px;
}
.category-content h1{
    color: black;
}
.category-content{
    color: #747474;
    text-align: justify;
}