html, body {
    background: url("../images/light-tile.gif") repeat 0 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: arial,helvetica,sans-serif;
    width: 100%;
    height: 100%;
}
.wrap {
    margin: 0 auto;
    padding: 20px;
    width: 1280px;
}
.wrap-default-color {
    background: white;
}

.wrap-text{
    width: 1240px;
    padding: 40px 40px;
}
header .wrap div{
    width: 49%;
    display: inline-block;
}

header .wrap div:last-child{
    text-align: right;
    font-size: 18px;
}
.wrap-content {
    color: #666669;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px white;
    font-size: 14px;
    font-style: italic;
}

.wrap-content h1 {
    margin-top: 0;
}

header {
    color: #f5f5f5;
    background: #5f5d62;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 54px;
}

header a {
    color: #f5f5f5;

}
header div#header-nav-list ul{
    margin: 0;
}
header div#header-nav-list ul li {
    display: inline-block;
    margin: 0px 20px;
}

div.top-categories {
    text-align: center;
}
div.top-categories div.category-thumb {
    display: inline-block;
    width: 310px;
    margin: 20px;
}
div.item-description h2 {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

div.category-thumb a:link, div.category-thumb a:active, div.category-thumb a:hover, div.category-thumb a:visited{
    color: #7a756f;
    text-decoration: none;
}

div.item-description {
    color: #7a756f;
    margin: -4px 0 0 0;
    border-left: 1px solid #7a756f;
    border-right: 1px solid #7a756f;
    border-bottom: 1px solid #7a756f;
    padding: 10px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

img.item-img {
    width: 310px;
    height: 160px;
    padding: 0px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

#body{
    min-height: 100%;
    padding-top: 54px;
    padding-bottom: 100px;
    margin-bottom: -100px;
}

footer {
    height: 100px;
    background: #5f5d62;
}

footer div {
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 42px 0 !important;
}

div.navigation ul {
    background: #c8e4ed;
    padding: 20px;
    margin: 0;
}
div.navigation ul li {
    display: inline-block;
    /*margin: 0 20px;*/
}

div.navigation ul li:after {
    content: ">";

    margin: 0 20px;
}

div.navigation ul li.last:after {
    content: none;
}

div.navigation ul li a{
    color: grey;
}